### MDCM Data Processing

> <sub>⚠️ **Note**: Internal links (like Table of Contents) work best when this notebook is opened in **Jupyter Notebook** or **nbviewer.org**.<br>
> GitHub does **not support scrolling to sections** inside `.ipynb` files.</sub>

---
######  - [Reading March Madness Dataset](#Reading-March-Madness-Dataset)
######  - [Process Tournament Data](#Process-Tournament-Data)
######  - [Writing the dataset](#Writing-the-dataset)
---

#### Reading March Madness Dataset
######  - [_Click here to move back to index_](#MDCM-Data-Processing)

In [5]:
import sys
sys.path.append('src')

In [6]:
from Data_Preprocessing import load_data

mm_data = load_data('data/raw/NCAA_Tourney_2002_2024.csv')
coach_data = load_data('data/raw/2002-2023 March Madness Data.csv')

#### Process Tournament Data
######  - [_Click here to move back to index_](#MDCM-Data-Processing)

In [8]:
from Data_Preprocessing import process_tournament_data, distance

mm_data = process_tournament_data(mm_data, coach_data)

mm_data['dist1'] = mm_data.apply(lambda row: distance(row['host_lat'], row['host_long'], row['team1_lat'], row['team1_long']), axis=1)
mm_data['dist2'] = mm_data.apply(lambda row: distance(row['host_lat'], row['host_long'], row['team2_lat'], row['team2_long']), axis=1)

# Create distance differential column
mm_data['diff_dist'] = mm_data['dist1'] - mm_data['dist2']

In [9]:

mm_data[['team1_id','team2_id','team1_seed','team2_seed','game_id', 
         'point_diff','team1_AdjEM', 'team2_AdjEM', 'SeedDiff', 'team1_eFG', 
         'team2_eFG', 'TurnoverMargin','team1_FTR', 'team2_FTR','diff_dist']].head()

,team1_id,team2_id,team1_seed,team2_seed,game_id,point_diff,team1_AdjEM,team2_AdjEM,SeedDiff,team1_eFG,team2_eFG,TurnoverMargin,team1_FTR,team2_FTR,diff_dist
0,1314,1181,8,2,2022-1314-1181,4,16.0439,23.7126,6,42.009852,44.430378,-0.020572,0.888384,0.786501,-13.433263
1,1242,1437,1,2,2022-1242-1437,16,25.4871,24.1111,-1,43.120413,41.683441,-0.030260,0.804548,0.954516,-635.035142
2,1242,1314,1,8,2022-1242-1314,3,25.4871,16.0439,-7,43.120413,42.009852,0.010861,0.804548,0.888384,-112.798837
3,1242,1274,1,10,2022-1242-1274,26,25.4871,12.6250,-9,43.120413,43.105729,-0.055928,0.804548,0.824630,-1201.318434
4,1314,1389,8,15,2022-1314-1389,20,16.0439,4.2730,-7,42.009852,39.241606,-0.020725,0.888384,0.848308,436.787027

#### Writing the dataset
######  - [_Click here to move back to index_](#MDCM-Data-Processing)

In [11]:
from Data_Preprocessing import write_data

# Save to processed
write_data(mm_data, 'mm_data.csv')

Data written to: C:\Users\utkar\Desktop\PyCharm Projects Spring\Deloitte March Crunch Data Madness\data\processed\mm_data.csv

'data\\processed\\mm_data.csv'